body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #F0F0F0;
    min-width: 336px;
}

nav{
    width: 100%;
    background: #BD2323;
    padding: 0 50px;
    box-sizing: border-box;
}

nav h1{
    margin: 0;
    padding: 15px 20px;
    float: left;
}

nav h1 a{
    color: #fff;
    text-decoration: none;
}

nav ul{
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 16px;
    margin-top: -1px;
    transition: .5s;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul li:hover{
    background: #961C1C;
}

.no-relate-nav{
    margin-right: 40px;
    border-radius: 25px;
    -moz-border-radius: 5px;
}

.no-relate-nav:hover{
    background: #BD2323;
}

.clear-both{
    clear: both;
}

.s-corner{
    width: 150px;
    border-radius: 10px;
    border: 1px #000 solid;
    margin: 17px 550px;
    padding: 5px 5px 5px 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.s-button{
    width: .5px;
    height: .1px;
    margin-left: -79px;
}

.responsive-bar{
    width: 100%;
    background: #BD2323;
    padding: 10px 30px;
    box-sizing: border-box;
    display: none;
}

.responsive-bar h3{
    margin: 0;
    padding: 3px 0;
    color: #fff;
    float: left;
}

.responsive-bar h3 a{
    color: #fff;
    text-decoration: none;
}

.responsive-bar h4{
    margin: 0;
    padding: 0;
    color: #fff;
    float: right;
    padding: 5px 10px;
    background: #961C1C;
    text-transform: uppercase;
    cursor: pointer;
}

.chic-ico{
    font-size: 20px;
}

.small-chic-ico{
    font-size: 16px;
}

.cart-ico{
    font-size: 13px;
}

.slideshow{
    width: 100%;
    position: relative;
}

.slider li, .slider{
    margin: 0;
    padding: 0;
    width: 100%;
}

.slider, ol{
    list-style: none;
}

.slider li{
    overflow: hidden;
}

.slider li img{
    width: 100%;
}

.pagination{
    position: absolute;
    top: 102%;
    width: 100%;
    display: flex;
    margin-left: -40px;
    justify-content: center;
}

.pagination li{
    font-size: 20px;
    margin: -80px 5px 100px 5px;
    color: #858585;
    cursor: pointer;
}

.pagination li:hover{
    font-size: 25px;
    margin: -80px 5px 100px 5px;
    color: #858585;
    cursor: pointer;
    text-shadow: 0 0 2px #FF9246;
}

.left-crs, .right-crs{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    z-index: 2;
}

.left-crs:hover, .right-crs:hover{
    font-size: 37px;
    text-shadow: 0 0 2px #FFFF21;
}

.left-crs{
    left: 10px;
}

.right-crs{
    right: 10px;
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 100px;
    margin-left: -45px;
    margin-top: 20px;
    padding: 0 16px;
    z-index: 1;
    text-align: center;
    font-size: 15px;
}

.dropdown:hover .dropdown-content{
    display: block;
    background-color: #C82626;
}

.dropdown:hover .dropdown-content p a:hover{
    color: #550000;
    font-weight: bold;
}

.gallery-section{
    width: 100%;
    max-width: 1050px;
    padding: 15px 15px 1330px;
    margin: auto;
}

.gallery{
    background-color: #fff;
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 220px;
}

.gallery:hover{
    border: 1px solid #777;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.gallery img{
    width: 100%;
    height: auto;
}

.desc{
    padding: 15px 15px 7px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.price{
    padding: 0 10px 8px;
    text-align: center;
    font-size: 10px;
}

.insta{
    width: 100%;
}

.insta-title{
    margin-left: -40px;
    text-align: center;
}

.insta-gallery{
    margin-left: -40px;
    text-align: center;
}

.foooter{
    width: 100%;
    height: 300px;
    margin-top: -4px;
    background: #F0F0F0;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    bottom: 0;
    left: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 38% 27% 35%;
    background-color: #BD2323;
    padding: 10px 20px;
}

.grid-item-about{
    margin: -10px 0;
    padding: 20px 70px 36px;
    font-size: 20px;
    font-family: sans-serif;
    text-align: left;
    color: #fff;
    opacity: 0.9;
}

.grid-item-mid{
    margin: -10px 0 -10px 30px;
    padding: 20px 0 36px;
    font-size: 20px;
    font-family: sans-serif;
    text-align: left;
    color: #fff;
    opacity: 0.9;
}

.grid-item-follow{
    margin: -10px 0;
    padding: 20px 60px 36px;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    opacity: 0.9;
}

.small-foot{
    font-size: 15px;
    font-weight: normal;
    word-spacing: 2px;
    text-align: justify;
    text-justify: inter-word;
}

.icon-mm a:hover{
    text-shadow: 0 0 1px #F5DEB3;
}

.fa{
    padding: 0 5px 20px;
    font-size: 50px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    color: #ffe;
}

.fa:hover{
    opacity: 0.7;
    color: #000;
}

.ul-foot{
    float: none;
}

.li-foot{
    text-align: left;
    font-weight: normal;
    list-style: none;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: -35px;
    font-family: sans-serif;
}

.li-foot a{
    text-decoration: none;
    text-underline-position: none;
    color: #fff;
    font-weight: normal;
}

.li-foot a:hover{
    text-decoration: none;
    text-underline-position: none;
    color: #000;
    opacity: .7;
    font-weight: bold;
}

@media (max-width: 900px){
    nav{
        display: none;
        padding: 0;
    }
    .responsive-bar{
        display: block;
    }
    nav h1{
        display: block;
        float: none;
    }
    nav ul{
        float: none;
    }
    nav ul li{
        display: block;
        text-align: center;
        background: #BD2323;
        padding: 15px 20px;
        border-bottom: 1px solid rgba(255,255,255,.1);
    }
    .dropdown-content{
        display: none;
        background: #961C1C;
        position: absolute;
        min-width: 100%;
        height: 145px;
        margin-left: -36px;
        margin-top: 15px;
        padding: 0 16px;
        z-index: 1;
        text-align: center;
        font-size: 15px;
    }
    h1.brand{
        display: none;
    }
    .left-crs, .right-crs{
        font-size: 30px;
    }
    .slider li img{
        width: 100%;
    }
    .pagination{
        display: none;
    }
}

@media (max-width: 999px){
    .foooter{
        display: none;
    }
}

@media (max-width: 1330px){
    .insta-title, .insta-gallery{
        display: none;
    }
    .foooter{
        margin-bottom: -2110px;
    }
    .no-relate-nav{
        display: none;
    }
}